%footer#footer.footer-container
  .container-fluid
    .row
      .col-md-3.hide-sm
        %h2 Company
        %ul
          %li 
            =link_to "About", root_path
      .col-md-3.hide-sm
        %ul
          %li
            =link_to "Home", root_path
      .col-md-3.hide-sm
        %ul
          %li
            =link_to "Home", root_path
      .col-md-3
