.header-wrapper
  %header.regular-header.active
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button{ class: "navbar-toggle toggle-custom", type: "button", id: "navbar-toggle", "data-toggle" => "collapse", "data-target" => "#navbar"}
            %span.fa.fa-bars
          =link_to root_path do
            #logo{alt: "PeerTours Logo"}
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            - if signed_in?
              %li= link_to "Profile", current_user
              %li= link_to "Sign Out", signout_path
            - else
              %li= link_to "Sign In", signin_path
              %li= link_to "Sign Up", signup_path