.top-image.text-center
  .contents
    %h1.title
      Omotenashi Experience in Japan
    =link_to "How to use", root_path, class: "button white"
    %form.search-tours{action: "/", method: "get"}
      %input{name: "category", size: "20"}
      %input{name: "area", size: "16"}
      %select{name: "num"}
      %input.submit{type: "submit", value: "Search"}
.container-fluid
  .row
    .row
      .col-md-4.col-md-offset-4.section-title
        %h2
          Category
    .row
      .col-md-4.image-frame
        =link_to image_tag("category-image001.png", class: "section-image"), root_path
      .col-md-4.image-frame
        .row
          .col-md-12.image-frame
            =link_to image_tag("gourmet.png", class: "section-image"), root_path
        .row
          .col-md-12.image-frame
            =link_to image_tag("anime.png", class: "section-image"), root_path
      .col-md-4.image-frame
        .row
          .col-md-12.image-frame
            =link_to image_tag("tradition.png", class: "section-image"), root_path
        .row
          .col-md-12.image-frame
            =link_to image_tag("idol.png", class: "section-image"), root_path
  .row
    .row
      .col-md-4.col-md-offset-4.section-title
        %h2
          Area
    .row
  .row
    .row
      .col-md-4.col-md-offset-4.section-title
        %h2
          New Experience
    .row
