%fieldset
    = f.label :flow, class: "col-lg-2 control-label"
    = f.text_area :flow, placeholder: "write tour flow....", class: "form-control"
    = f.hidden_field :_destroy
    = link_to "destroy", '#', class: "remove_fields"
